.col-xs-8.col-xs-offset-2.text-center
  h1.text-center How much 
    span.red Internet speed 
    | do I need?
.col-xs-12
  h3.text-center.tagline Just tell us how you use the Internet and we'll recommend an appropriate Internet speed.
  .row.text-center
    .col-xs-12.devices
      img.computer(src='media/computers.svg')
      img.mobile(src='media/mobile.svg')
      img.console(src='media/consoles.svg')
      img.streaming(src='media/streaming.svg')
.col-xs-12.text-center
  button(class="btn-go btn-lg", ng-click="letsGo()") Let's Go