.col-xs-12
  .col-xs-10.col-xs-offset-1.text-center
    h2.text-center How many people use the Internet at your home?
.col-xs-12
  .row.text-center
    .question-mark.center-block
      span ?
    .col-xs-4.col-xs-offset-4.device-block
      .minus-wrapper
        .btn-minus -
      .device-number 1
      .plus-wrapper
        .btn-plus +